@media only screen and (min-width: 1024px){

body{
background-color:red;
overflow-x: hidden 
}

#header{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 35%;
    background-color: black;
    border-radius: 0 0 100em 100em;
}

#titolino{
    position: absolute;
    color: white;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 10%;
    overflow: hidden;
    text-align: center;
    color: red;
    text-shadow: 0px 1px orange;
    letter-spacing: 6;
}

#titolo{
position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 40%;
    overflow: hidden;
    text-align: center;
    color:red;
    text-shadow: 0px 2px orange;
    font-size: 5em;
    font-family: "Oswald", sans-serif;
}

#logo{
position:absolute;
color:white;
top:18%;
left:5%;
width:7%;
height:30%;
overflow:hidden;
background-color:blue;
/*background-image:logo*/
}

#header::after{
    width: 80%;
    position: absolute;
    top: 120%;
    height: 1%;
    content: "";
    left: 10%;
    background-color: black;
}

.elenco{
position:absolute;
color:white;
top:50%;
left:5%;
width:90%;
/*background-color:gray;*/
}

.singolo{
  width:100%;
  display:inline-block;
  margin-top: 2%;
}

.categoria{
color:black;
font-family: "Oswald", sans-serif;
margin-bottom:5%;
    font-size: 3em;
    letter-spacing: 10;
}

#pagina{
   width: 100%;
   overflow: hidden;
   text-shadow: 0 1px lightslategrey;
}

#storia{
    width: 0%;
    display: none;
}

.contenitore{
  width:100%;
  overflow:hidden;
  background-color:black;
  border: 0.1em solid yellow;
  display: inline-block;
}

.capitolo{
    color:red;
    font-size: 1.5em;
    font-family: "Krona One", sans-serif;
}

.esci{
    width: 5%;
    padding: 9;
    margin-top: 0.5%;
    margin-right: 5%;
    float: right;
    background-color: blue;
    overflow: hidden;
}

.wrapper{
 display:none;
 width: 80%;
 position: relative;
 margin: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3{
  display: none;
}

video{
      height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  font-weight: bold;
  font-size: 5em;
  left:0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  left: 100%
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: red;
  color:black;
  width:max-content;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.immagine{
 left: 100%;
 width:80%;
 height:100%;
 background-color:yellow;
 overflow: hidden;
 background-color:blue;
}


#footer{
position:absolute;
color:white;
left:0%;
top:200%;
height:30%;
width:100%;
text-align:center;
overflow:hidden;
background-color:black;
/*background-image:logo*/  
}

}

@media only screen and (max-width: 767px){

body{
background-color:red; 
}

#header{
 position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 35%;
    background-color: black;
    border-radius: 0 0 100em 100em;
}

#header::after{
    width: 80%;
    position: absolute;
    top: 120%;
    height: 1%;
    content: "";
    left: 10%;
    background-color: black;
}

#titolino{
    position: absolute;
    color: white;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 10%;
    overflow: hidden;
    text-align: center;
    color: red;
    text-shadow: 0px 1px orange;
}

#titolo{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 50%;
    overflow: hidden;
    text-align: center;
    color:red;
    text-shadow: 0px 2px orange;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
}

#logo{
position:absolute;
color:white;
top:18%;
left:5%;
width:7%;
height:30%;
overflow:hidden;
background-image: url("simbolo.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
cursor: pointer;
}

.elenco{
position:absolute;
color:white;
top:45%;
left:5%;
width:90%;
/*background-color:gray;*/
}

.categoria{
color:black;
font-family: "Oswald", sans-serif;
margin-bottom:5%;
    font-size: 3em;
    letter-spacing: 10;
}

#pagina{
   width: 100%;
   overflow: hidden;
   text-shadow: 0 1px lightslategrey;
}

#storia{
    width: 0%;
    display: none;
}

.singolo{
  width:100%;
  display:inline-block;
  margin-top: 2%;
}

.contenitore{
  width:100%;
  overflow:hidden;
  background-color:yellow;
  border: 0.2em solid black;
  display: inline-block;
}

.capitolo{
color:black;
font-size: 1em;
font-family: "Krona One", sans-serif;
}

.esci{
 width:5%;
 height:2%;
 padding:0;
 margin-top:0;
 margin-right:5%;
 float:right;
 background-color:blue;
 overflow:none;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /*color: white;*/
  font-weight: bold;
  font-size: 18px;
  /*transition: 0.6s ease;*/
  border-radius: 0 3px 3px 0;
  /*user-select: none;*/
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.immagine{
 left: 100%;
 width:80%;
 height:100%;
 display:none;
 background-color:yellow;
 overflow:none;
 background-color:blue;
 position:absolute;
 z-index:0;
}

.next{
  display:none;
  position:absolute;
  top: 20%;
  height: 60%;
  opacity: 0.7;
  right:2%;
  z-index:2;
  width:5%;
}

.previous{
  display:none;
  position:absolute;
  top: 20%;
  height: 60%;
  opacity: 0.7;
  left:2%;
  z-index:2;
  width:5%;
}

#footer{
position:absolute;
color:white;
left:0%;
top:200%;
height:30%;
width:100%;
text-align:center;
overflow:hidden;
background-color:black;
/*background-image:logo*/  
}

}


