@media only screen and (min-width: 601px){

@keyframes change {
  0%{width:100%; left:0}
  100%{width:0%; left:100%;}
}

@keyframes change2 {
  0%{width:0%;}
  100%{width:100%;}
}

@keyframes restart {
  0%{width:0%; left:100%;}
  100%{width:100%; left:0;}
}

@keyframes restart2 {
  0%{width:100%;}
  100%{width:0%;}
}

body{
background-color:red; 
}

#header{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 35%;
    background-color: black;
    border-radius: 0 0 100em 100em;
}

#titolino{
    position: absolute;
    color: white;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 10%;
    overflow: hidden;
    text-align: center;
    color: red;
    text-shadow: 0px 1px orange;
    letter-spacing: 6;
}

#titolo{
position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 50%;
    text-align: center;
    color:red;
    text-shadow: 0px 2px orange;
    font-size: 5em;
    font-family: "Oswald", sans-serif;
}

#logo{
position:absolute;
color:white;
top:18%;
left:5%;
width:7%;
height:30%;
overflow:hidden;
background-image: url("simbolo.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
cursor: pointer;
}

#novita{
    position: absolute;
    color: black;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 50%;
    text-align: center;
    overflow: hidden;
    background-color: #f3e5e5;
}

.newTitolo{
    font-family: "Oswald", sans-serif; 
  font-size: 3em; 
  text-align: center;
}

.aggiunte li{
   font-family: "Oswald", sans-serif; 
  font-size: 1em; 
  text-align: start;
  list-style-image: url(pen.png);
    list-style-position: inside;
}

#cards{
position:absolute;
top:100%;
left:10%;
width:80%;
height:90%;
text-align:center;
overflow:hidden;
background-color:yellow;
font-family: "Oswald", sans-serif;
margin-bottom:5%;
font-size: 3em;
letter-spacing: 10;
color:red;
writing-mode: vertical-rl;
text-orientation: upright;
text-align: start;
}

.box {
height:98%;
width:18%;
top:1%;
background-color:black;
display:inline-block;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
perspective: 1000px;
transform-style: preserve-3d;
}

.flash {
  /*background-color: pink;
  /*background-image:black*/
  position:absolute;
  left:1%;
  cursor: pointer;
}

.helen{
  /*background-color: green;
  /*background-image:black*/
  position:absolute;
  left:21%;
  cursor: pointer;  
}

.bob{
  /*background-color: orange;
  /*background-image:black*/
  position:absolute;
  left:41%;
  cursor: pointer;
}

.violet{
  /*background-color: yellow;
  /*background-image:black*/
  position:absolute;
  left:61%;
  cursor: pointer;  
}

.jack{
  /*background-color: blue;
  /*background-image:black*/
  position:absolute;
  left:81%;
  cursor: pointer;  
}

.box2 {
height:98%;
width:18%;
top:1%;
background-color:black;
display:none; 
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
perspective: 1000;
transform-style: preserve-3d;
}

.flash2 {
  /*background-image:green;*/
  position:absolute;
  transform: rotateY(180deg);
  left:1%;
}

.helen2{
  /*background-image:black*/
  position:absolute;
  left:21%;
  transform: rotateY(180deg);  
}

.bob2{
  /*background-image:black*/
  position:absolute;
  left:41%;
  transform: rotateY(180deg);
}

.violet2{
  /*background-image:black*/
  position:absolute;
  left:61%;
  transform: rotateY(180deg);
}

.jack2{
  /*background-image:black*/
  position:absolute;
  left:81%;
  transform: rotateY(180deg);
}

.indietro{
  position:absolute;
  top:2%;
  left:87%;
  padding:0;
  overflow:hidden;
  color:red;
  top: -2%;
  right: -2%;
  font-size: 0.7em;
  writing-mode: horizontal-tb;
  cursor: pointer;
}

.titolo2{
  position:absolute;
  top:5%;
  left:10%;
  width:80%;
  height:10%;
  overflow:hidden;
  text-align:center;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  writing-mode:horizontal-tb;
  letter-spacing: 0;
}

.descrizione{
  position:absolute;
  top:20%;
  left:10%;
  width:80%;
  height:60%;
  overflow:hidden;
  text-align:center;
  font-family: "Oswald", sans-serif;
  font-size: 0.5em;
  writing-mode:horizontal-tb;
  letter-spacing: 0;
}

.avanti{
  position: absolute;
  top: 80%;
  left: 15%;
  width: 70%;
  height: 15%;
  overflow: hidden;
  text-align: center;
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
      align-items: center;
}

a {
    text-decoration: none;
    color: red;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
}

.avanti:hover > a{
transform: scale(1.5);
transition-duration: 1s;
}

.avanti:hover > a::after{
animation-name: change;
animation-duration: 0.5s;
}

.avanti:hover > a::before{
animation-name: change2;
animation-delay: 0.2s;
animation-duration: 0.5s;
}


a::after{
background-color: red;
    height: 0.1em;
    display: inline-block;
    top: 85%;
    left:0;
    content: "";
    position: absolute;
    text-align: center;
    animation-name: restart;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

a::before{
background-color: red;
    height: 0.1em;
    display: inline-block;
    top: 85%;
    left:0;
    content: "";
    position: absolute;
    text-align: center;
    animation-name: restart2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


.foto{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
}

.uno{
  background-image: url("35079.png");
}

.due{
  background-image: url("99963.png");
}

.tre{
  background-image: url("49001.png");
}

.quattro{
  /*background-image: url("94555.jpg");*/
}

.cinque{
  background-image: url("94555.png");
}

#footer{
position:absolute;
color:white;
left:0%;
top:220%;
height:30%;
width:100%;
overflow:hidden;
background-color:black;
/*background-image:logo*/  
}

.colonna1{
    list-item:none;
    margin-left:5%;
    width:40%;
    display: inline-block;
    text-align: center;
}

.colonna2{
    list-item:none;
    margin-left:5%;
    width:40%;
    display: inline-block;
    text-align: center;
    
}

}

@media only screen and (max-width: 600px){

body{
background-color:red; 
}

#header{
 position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 35%;
    background-color: black;
    border-radius: 0 0 100em 100em;
}

#titolino{
    position: absolute;
    color: white;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 10%;
    overflow: hidden;
    text-align: center;
    color: red;
    text-shadow: 0px 1px orange;
}

#titolo{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 50%;
    text-align: center;
    color:red;
    text-shadow: 0px 2px orange;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
}

#logo{
position:absolute;
color:white;
top:18%;
left:5%;
width:7%;
height:30%;
overflow:hidden;
background-image: url("simbolo.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
cursor: pointer;
}

#novita{
    position: absolute;
    color: black;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 50%;
    overflow: hidden;
    background-color: #f3e5e5;
}

.newTitolo{
    font-family: "Oswald", sans-serif; 
  font-size: 3em; 
  text-align: center;
}

.aggiunte li{
   font-family: "Oswald", sans-serif; 
  font-size: 1em; 
  text-align: start;
  list-style-image: url(pen.png);
    list-style-position: inside;
}

#cards{
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 370%;
    /* text-align: center; */
    overflow: hidden;
    background-color: yellow;
    font-family: "Oswald", sans-serif;
    margin-bottom:5%;
    font-size: 3em;
    letter-spacing: 10;
    color:red;
    text-align: center;
    
}

.box {
    height: 19%;
    width: 98%;
    top: 1%;
    left: 1%;
    background-color: black;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.flash {
  /*background-color: pink;
  /*background-image:black*/
  position:absolute;
  top:1%;
}

.helen{
  /*background-color: green;
  /*background-image:black*/
  position:absolute;
  top:21%; 
}

.bob{
  /*background-color: orange;
  /*background-image:black*/
  position:absolute;
  top:41%;
}

.violet{
  /*background-color: yellow;
  /*background-image:black*/
  position:absolute;
  top:61%;
}

.jack{
  /*background-color: blue;
  /*background-image:black*/
  position:absolute;
  top:80.5%;
}

.box2 {
    height: 19%;
    width: 98%;
    top: 1%;
    left: 1%;
    background-color: black;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.flash2 {
  /*background-image:green;*/
  position:absolute;
  transform: rotateY(180deg);
  top:1%;
}

.helen2{
  /*background-image:black*/
  position:absolute;
  top:21%;
  transform: rotateY(180deg);  
}

.bob2{
  /*background-image:black*/
  position:absolute;
  top:41%;
  transform: rotateY(180deg);
}

.violet2{
  /*background-image:black*/
  position:absolute;
  top:61%;
  transform: rotateY(180deg);
}

.jack2{
  /*background-image:black*/
  position:absolute;
  top:80.5%;
  transform: rotateY(180deg);
}

.indietro{
  position: absolute;
    overflow: hidden;
    color: red;
    top: -2%;
    right: 2%;
    width:15%;
    font-size: 0.7em;
}

.titolo2{
  position:absolute;
  top:5%;
  left:10%;
  width:80%;
  height:15%;
  overflow:hidden;
  text-align:center;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  writing-mode:horizontal-tb;
  letter-spacing: 0;
}

.descrizione{
  position:absolute;
  top:25%;
  left:10%;
  width:80%;
  height:60%;
  overflow:hidden;
  text-align:center;
  font-family: "Oswald", sans-serif;
  font-size: 0.5em;
  writing-mode:horizontal-tb;
  letter-spacing: 0;
}

.avanti{
  position: absolute;
  top: 80%;
  left: 15%;
  width: 70%;
  height: 15%;
  overflow: hidden;
  text-align: center;
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
      align-items: center;
}

a {
    text-decoration: none;
    color: red;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
}

.foto{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
}

.uno{
  background-image: url("35079.png");
}

.due{
  background-image: url("99963.png");
}

.tre{
  background-image: url("49001.png");
}

.quattro{
  /*background-image: url("94555.jpg");*/
}

.cinque{
  background-image: url("94555.png");
}

#footer{
position:absolute;
color:white;
left:0%;
top:500%;
height:30%;
width:100%;
overflow:hidden;
background-color:black;
/*background-image:logo*/  
}

}